<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div>&copy; <span id="currentYear"></span> | Developed and designed by <strong>Mohammad Laraib</strong>.</div>
      <div class="footer-icons">
        <a href="https://www.linkedin.com/in/mohammad-laraib-58468a1b8/" target="_blank" class="footer-link">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/wholaraib" target="_blank" class="footer-link">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:mohammadlaraib34@gmail.com" class="footer-link">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
</footer>




