<div class="default-container home-wrapper">
  <div class="content-container">
    <div class="intro-text">
      <h1 class="home-title">
        Crafting seamless digital experiences<br class="hide-on-large" />
        with precision and passion.
      </h1>
      <h2 class="home-author">
        Mohammad Laraib,
        <span id="dynamic-text">{{ dynamicText }}</span>
      </h2>
      <blockquote class="home-bio">
        I’m a frontend developer with hands-on experience in building scalable, responsive, and production-grade applications. From collaborating on enterprise-level projects to developing a full-fledged applications, I specialize in crafting intuitive UIs using Angular, React, TypeScript, and modern web technologies.
      </blockquote>
      <a routerLink="/portfolio" class="btn-portfolio">
        &gt; View My Work
      </a>
    </div>
  </div>
</div>
