
.home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
  background-color: #141a20;
  min-height: 100vh;
}

.content-container {
  max-width: 1000px;
  width: 100%;
}

.intro-text {
  text-align: left;
  padding: 2rem;
}

.home-title {
  font-size: 4.5rem;
  color: #e0f0ff;
  margin-bottom: 3rem;
  line-height: 1.2;
}

.home-author {
  font-size: 2.8rem;
  color: #b0caf0a4;
  margin-bottom: 2rem;
  font-weight: 400;
}

#dynamic-text {
  border-right: 2px solid #00FF00;
  padding-right: 5px;
  animation: blink-caret 0.7s step-end infinite;
  color: #00FF00;
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #00FF00;
  }
}

.home-bio {
  font-size: 1.2rem;
  color: #a9b9cc;
  font-style: italic;
  margin-bottom: 2.5rem;
  line-height: 1.6;
}


@media (max-width: 768px) {
  .home-title {
    font-size: 2.8rem !important;
    text-align: center;
  }

  .home-author {
    font-size: 2rem !important;
    text-align: center;
  }

  .home-bio {
    text-align: center;
    font-size: 1rem;
  }

  .intro-text {
    padding: 1rem;
  }

  .hide-on-large {
    display: none;
  }
}

.btn-view-work{
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}
